/* =========================================
   Reset & Variabel Dasar
   ========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #2563eb; 
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --bg-white: #ffffff;
}

body {
  background-color: #f9fafb;
}

/* =========================================
   Styling Navbar
   ========================================= */
.navbar {
  display: flex; 
  justify-content: space-between; /* Mendorong menu mentok ke kanan karena tombol sewa dihapus */
  align-items: center; 
  background-color: var(--bg-white);
  padding: 1.2rem 5%; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05); 
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Styling Logo */
.logo a {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-dark);
  text-decoration: none;
  letter-spacing: 0.5px;
}

.logo span {
  color: var(--primary-color);
}

/* Styling Menu Links */
.nav-links ul {
  list-style: none;
  display: flex; 
  gap: 2.5rem; 
}

/* =========================================
  Animasi Garis Bawah Estetik (Hover Effect)
  ========================================= 
*/
.nav-links a {
  text-decoration: none;
  color: var(--text-light);
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.3s ease;
  position: relative; /* Wajib diatur relative agar garis bawah menempel di bawah teks ini */
  padding-bottom: 5px; /* Jarak nafas antara teks dan garis animasi */
}

.nav-links a:hover {
  color: var(--primary-color); /* Warna teks berubah saat disentuh */
}

/* Elemen garis tak terlihat (lebar 0) */
.nav-links a::after {
  content: '';
  position: absolute;
  width: 0; /* Mulai dari lebar 0 */
  height: 2px; /* Ketebalan garis */
  bottom: 0; /* Posisikan pas di paling bawah teks */
  left: 0; /* Garis memanjang dari arah kiri */
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out; /* Transisi pelebaran garis yang mulus */
}

/* Saat teks di-hover, paksa garis melebar menjadi 100% dari ukuran teks */
.nav-links a:hover::after {
  width: 100%;
}
/* Container */
.container {
  padding: 40px;
  text-align: center;
}

/* Flex */
.flex-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
h2{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.card {
  background: white;
  width: 280px;
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  background: orange;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: darkorange;
}
